@import 'https://fonts.googleapis.com/css?family=Roboto Mono:400,700';

@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe');

@import url('https://fonts.googleapis.com/css?family=B612+Mono');

@import url('https://fonts.googleapis.com/css?family=B612+Mono|Bangers');

@import url('https://fonts.googleapis.com/css?family=B612+Mono|Bangers|IBM+Plex+Mono');





:root {
      
  /* add code below  --*/
  
  
  --Alter_Font: 80px;
  --Alter_FontColor: red;

} 



@media (width : 375px)
                        {

:root {
      
      /* add code below  --   */
       --Alter_Font: 70px;
      --Alter_FontColor: green;


      /* --Alter_Font: 80px; */  
      /* add code above */
      
    } 

  }


html,body{
 
  font-family: 'IBM Plex Mono', monospace;
  /*font-family: 'B612 Mono', monospace; */
  /*font-family: 'Bangers', cursive; */
}


#pageheader {

  color: var(--Alter_FontColor); 
  font-size: var(--Alter_Font); 
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  background-color: white; 
  width:100%;

}


 hr { 
   display: block;
   margin-top: 10px; 
   margin-bottom: 10px;
   border-color: black;
}


nav {
    display: inline-block;
    font-size: 30px;
   
}

#container {
    max-width: 790px;
    margin: auto;
    padding: 1.5em;

}

#content{
   
    max-width: 100%;
    padding: 1.5em;
    border: 1px solid black;
    overflow-wrap: break-word;
 
  
}

#title{
  
  font-weight: bold;
  padding-bottom: 15px;
  padding-left: 1px;
}
