@import 'https://fonts.googleapis.com/css?family=Roboto Mono:400,700';

@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe');
/* :root {
    --Alter_Font: 200px;

  }

@media (max-width: 800px) { */

:root {
      
      /* add code below */
    --Alter_Font: 60px;
    --Alter_FontColor: black;
      /* add code above */
      
    } 


html,body{
 
  font-family: 'ZCOOL KuaiLe', cursive;
}


#pageheader {
  font-size: 75px;/*var(--Alter_Font);*/
  color: var(--Alter_FontColor);
  padding-bottom: 10px;
  padding-left: px;
  position: sticky;
  top: 0;
  background-color: white;

}

 hr { 
   display: block;
   margin-top: 10px; 
   margin-bottom: 10px;
   border-color: black;
}


nav {
    display: inline-block;
    font-size: 30px;
   
}

#container {
    max-width: 790px;
    margin: auto;
    padding: 1.5em;

}

#content{
   
    max-width: 100%;
    padding: 1.5em;
    border: 1px solid black;
    overflow-wrap: break-word;
 
  
}

#title{
  
  font-weight: bold;
  padding-bottom: 15px;
  padding-left: 1px;
}
