@import 'https://fonts.googleapis.com/css?family=Roboto Mono:400,700';

:root {
    --Alter_Font: 200px;

  }

@media (max-width: 800px) {
    :root {
      
      /* add code below */
     --Alter_Font: 600px;
     --Alter_FontColor: red;
      /* add code above */
      
    }
}

html,body{
  font-family: 'Roboto Mono';
}

body {
  background-color: tan;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 749px) {
  body {
    background-color: blue;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    background-color: olive;
  }
} 


#pageheader {
  font-size: var(--Alter_Font);
  font-color: var(--Alter_FontColor);
  padding-bottom: 10px;
  padding-left: px;
  position: sticky;
  top: 0;
  background-color: white;

}

 hr { 
   display: block;
   margin-top: 2px; 
   margin-bottom: 0px;
   border-color: black;
}


nav {
    display: inline-block;
    font-size: 15px;
   
}

#container {
    max-width: 790px;
    margin: auto;
    padding: 1.5em;

}

#content{
   
    max-width: 750px;
    margin: 10px auto;
    padding: 1.5em;
    border: 1px solid black;
    overflow-wrap: break-word;
 
  
}

#title{
  
  font-weight: bold;
  padding-bottom: 15px;
  padding-left: 1px;
}
